 button  .logout-btn {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 2px solid #772222;
}

.logout-btn i {
  margin-right: 8px;
  font-size: 20px;
}

.logout-btn:hover {
  background-color: #772222;
  color: white;
}

.logout-btn:hover i {
  color: white;
}